*{
  box-sizing:border-box;
  
}
div{
  background-color: #ffccb3;
}
h1{
  text-align:center;
}
section {
width:33%;
background-color:#99ffff;
float:left;
}
section>h2{
  float:right;
  background-color: #ffff00;
  wdith:25em;
}
