*{
  box-sizing:border-box;
  background-color: #ff9966;
}
h1{
  text-align:center;
}
section section>p{
width:33%;
background-color:#99ffff;
float:left;
}
section>h2{
  float:right;
  background-color: #ffff00;
  wdith:25em;
}
