*{
  box-sizing:border-box;
  
}
body{
  background-color: #ffccb3;
}
  
h1{
  text-align:center;
}

@media(min-width:992px){

section {
width:33%;
float:left;
 position:relative;
 margin:10px;
  
  }}
@media(min-width:768px) and (max-width:991px)
  {
    .half{
      width:50%;
      float:left;
      margin:10px;
    }
    .full{
      width:100%;
      float:left;
      position:relative;
    }}
@media(max-width:767px)
  {
    section{
      width:100%;
      float:left;
      margin:15px;
    }}
section{
  background-color:#99ffff;
  height:40%;
}
section>h2{
  float:right;
  background-color: #ffff00;
  wdith:25em;
}
