*{
  box-sizing:border-box;
  
}
body{
  background-color: #ffccb3;
}
  
h1{
  text-align:center;
}

@media(min-width: 992px){

.section1.section2.full {
width:33.33%;
  }}
@media(min-width: 768px) and (max-width: 991px)
  {
    .section1.section2{
      width:50%;
     
    }
    .full{
      width:100%;
     
    }}
@media(max-width: 767px)
  {
    .section1.section2.full{
      width:100%;
      
    }}
section{
  background-color:#99ffff;
  height:40%;
  margin:10px;
  float:left;
}
section>h2{
  float:right;
  background-color: #ffff00;
  wdith:25em;
}
